@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@400;700&family=Sora:wght@100;400;700&display=swap");

* {
  font-family: "Sora", sans-serif;
}

body {
  background: #1b1b21;
  color: #ffffff;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 40;
}

.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding-bottom: 40px;
}

.import-banner {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dados {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.camps {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.camp {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  background: #f5f5f5;
  border: 2px solid #003bd3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 5px;
}

input[type="file"] {
  display: none;
}

.file {
  width: 95%;
  padding: 20px 10px;
  border: #003bd3 solid 2px;
  border-style: dashed;
  color: #fff;
  text-transform: uppercase;
  display: block;
  text-align: center;
  cursor: pointer;
  transition: 0.5s;
}

.file:hover{
  background: #003bd3;
}

.confirmar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 7px 57px;
  gap: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #003bd3;
  cursor: pointer;
}

.confirmar:hover {
  color: white;
  background: #003bd3;
}

.banner-cad {
  padding-top: 40px;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 40px;
  gap: 15px;
}

.banner-cad img {
  height: auto;
  width: 40%;
  gap: 40px;
}

.banner-cad h1 {
  margin: 0;
  padding: 0;
}

.banner-cad h3 {
  margin: 0;
  padding: 0;
}

.banner-cad a {
  text-decoration: none;
  color: #00a3ff;
  font-weight: 400;
}

.banner-img {
  width: 100%;
  background: #1888e6;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 40px 0;
}

.banner-img img {
  width: 80%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .banner-cad img {
    height: auto;
    width: 16%;
    gap: 40px;
  }
}
